.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
  position: relative !important;
}

.a {
  object-fit: contain;
  height: 100% !important;
  position: relative !important;
  width: unset !important;
}
.b {
  height: 100%;
  position: relative !important;
}
.unset-img > div {
  position: unset !important;
}

body {
  min-height: 100vh !important;
}
#__next {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
main {
  display: flex!important;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  width: 100%;

}
