.custom-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  
  .unset-img {
    width: 100%;
    position: relative !important;
  }


  .a{
    object-fit: contain;
    height : 100% !important;
    position: relative !important;
    width: unset !important;
  }
  .b{
    height: 100%;
    position: relative !important;
  }
  .unset-img > div {
    position: unset !important;
  }